Sitefinity/.vs/
Sitefinity/Sitefinity11_2_Demo/.vs/
Sitefinity/Sitefinity11_2_Demo/AdminApp/assets/icons/apple-touch-icon-120x120.png
Sitefinity/Sitefinity11_2_Demo/AdminApp/
Sitefinity/Sitefinity11_2_Demo/Backup/
Sitefinity/Sitefinity11_2_Demo/bin/
Sitefinity/Sitefinity11_2_Demo/Build/
Sitefinity/Sitefinity11_2_Demo/obj/
