<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-Sitefinity11_2_Demo" rolesCookieName=".SFROLES-Sitefinity11_2_Demo" validationKey="9CC0F04A03A1E7A9BDD23355B39472F2F2FC7C2F99EC58A02C4FF0CE621093AAC09386891741BF5E9D492293B80186390F44FD7674DFC8F452D63E521FCE5C23" decryptionKey="85EF88718A0F89D1A75DF1BC992CB738ECDBF9401C75DEC03BB849B14403E0DE" loggingCookieName=".SFLOG-Sitefinity11_2_Demo">
	<securityTokenIssuers>
		<add key="E7F3154AD874FFCE8D86C5725E156AB2F9AE2925045CB52C43E00BCAC0FEEB25" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="E7F3154AD874FFCE8D86C5725E156AB2F9AE2925045CB52C43E00BCAC0FEEB25" realm="http://localhost" />
	</relyingParties>
</securityConfig>